*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
    background-color: rgb(24,24,24);
    color: white;
}

body{
    overflow-x: hidden;
}

.row{
    position: relative;
    z-index: 1;
}

.btn{
    margin: 2%;
}

input{
    text-align-last: center;
}

#backgroundCanvas
{
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    mix-blend-mode: screen;
}